/***********/
/* general */
/***********/

@font-face {
	font-family: "Enchanted Land", sans-serif;
	src: url('font/enchanted_land.otf');
}

@font-face {
	font-family: "Grabstein Gotik", sans-serif;
	src: url("font/Grabstein Gotik.eot");
	src: url("font/Grabstein Gotik.woff") format("woff"),
	url("font/Grabstein Gotik.otf") format("opentype"),
	url("font/Grabstein Gotik.svg#filename") format("svg");
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Raleway', sans-serif;
	background-color: #f1eae3;
	/*font-family: 'Open Sans', sans-serif;*/
}

body p
{
	text-align: justify;
}

a{
	text-decoration: none;
}

a:hover, .navbar a:hover
{
	text-decoration: none;
	color: #352d25;
}

#content
{
	background-color: #fcfbfa;
	padding: 20px;
}

h1
{
	font-family: "Grabstein Gotik", cursive;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#352d25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2
{
	font-size: 1.9em;
}

.droite{
	text-align: right;
	font-family: 'Open Sans', sans-serif;
}

.strong{
	font-weight: bold;
}

.italic
{
	font-style: italic;
}

.red
{
	color: red;
}

.intro
{
	font-style: italic;
	text-align: center;
	padding-bottom: 20px;
	color: grey;
}

#message_erreur
{
	margin-top: 20px;
}


/************/
/*  header  */
/************/

#logo
{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	/*text-shadow: 0px 0px 5px #7f7d7b;*/
}

#titre_principal
{
	
	font-family: "Grabstein Gotik", cursive;
	/* text-transform: uppercase; */
	color: #c6c2c2;

	/*text-shadow: 0px 0px 2px #7f7d7b;*/
}


@media (min-width: 280px) {
  #titre_principal {
    margin-left: 0;
	font-size: 0.8em !important;
  }
}
@media (min-width: 768px) {
  #titre_principal {
    margin-left: 75px;
    font-size: 0.9em !important;
  }
}

@media (min-width: 1200px) {
  #titre_principal {
    margin-left: 85px;
    font-size: 2em !important;
  }
}

/***********/
/*   Nav   */
/***********/

.navbar
{
	background-color: #352d25;
}

.navbar a
{
	text-decoration: none;
	color: #a59d99;
	transition-property: background-color, color;
    transition-duration: 0.5s;
}

span.icon-bar
{
	background-color: #c6c2c2;
}

button.navbar-toggle.collapsed
{
	border: 1px solid #7d7a7a;
}

@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}

/***********/
/*  Home   */
/***********/

#image_home
{
	width: 100%;
	max-width: 2000px;
	margin: auto;
	padding: 0;
	background: url(../images/img1.jpg) no-repeat center; 
	-webkit-background-size: cover;
  	background-size: cover;
}

@media (min-width: 300px) {
	#image_home
	{
	    height: 140px;
	}

	#devise
	{
		width: 300px;
	}

	#devise p.droite
	{
		font-size: 0.8em;
	}

	q
	{
		font-size: 2em;
	}
}

@media (min-width: 760px) {
	#image_home
	{
		height: 320px;
	}

	#devise
	{
		width: 450px;
	}

	#devise p.droite
	{
		font-size: 1em;
	}

	q
	{
		font-size: 2.8em;
	}
}

@media (min-width: 970px) {
	#image_home
	{
	    height: 400px !important;
	}
}

@media (min-width: 1200px) {
	#image_home
	{
	    height: 500px !important;
	}
}

@media (min-width: 1500px) {
	#image_home
	{
	    height: 600px !important;
	}
}

@media (min-width: 1600px) {
	#image_home
	{
	    height: 723px !important;
	}
}

#content_citation
{
	background-color: #5b4a3c;
	color: white;
	padding: 20px 0;
}

#devise
{
	margin: auto;
}

q
{
	font-style: italic;
	font-family: 'Tangerine', cursive;
	text-align: center !important;
}

#blocks_accueil
{
	width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#blocks_accueil a{
	width: 320px;
	margin: 15px;
	height: auto;
	color: #8d7e70;
	position: relative;
	border: 1px solid #e0dede;
	padding: 15px;
	transition-property: background-color, color;
    transition-duration: 1s;
}

#blocks_accueil a:hover{
	color: white;
	position: relative;
	background-color: #8d7e70;
}

#blocks_accueil h2
{
	text-transform: uppercase;
	color: #352d25;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}


/******************/
/*  Association   */
/******************/
.bureau, .ca
{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.intro-asso{
	display: flex;
}


.image-asso
{
	margin-bottom: 15px;
	margin-right: 15px;
}

.image-asso img {
	object-fit: cover;
	width: 550px;
}

@media screen and (max-width: 1023px) {
	.intro-asso{
		flex-wrap: wrap;
	}

	.image-asso
	{
		margin-right: 0;
	}
	.image-asso img {
		max-width: 100%;
	}
}

.membre
{
	width: 250px;
	text-align: center;
}

.membre h3
{
	text-transform: uppercase;
	font-size: 2rem;
}


.membre img
{
	width: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	box-shadow:  0px 0px 10px black;
}

.membre p
{
	text-align: center;
}

/****************/
/*  Evenements  */
/****************/
div.event
{
	border-bottom: 1px solid #c6c2c2;
}

div.event h2
{
	text-transform: uppercase;
	margin: 0;
}

div.header_event
{
	background-color: #8d7e70;
	color: white;
	padding: 10px;
}

div.header_event p
{
	color: #352d25;
	margin: 0;
}

.description{
	padding : 10px;
}


/***************/
/* Prestations */
/***************/
.service
{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;
}

.service h2
{
	margin-top: 0;
	text-transform: uppercase;
	font-size: 1.3em;
}

.images_services
{
	width: 200px;
	height: 133px;
	border: 2px solid #c6c2c2;
	margin-right: 20px;
	margin-bottom: 20px;
}

@media (min-width: 300px) {
	.service
	{
		flex-direction: column;
	}
}

@media (min-width: 750px) {
	.service
	{
		flex-direction: row;
	}
}

/*@media (min-width: 980px) {

}*/

/***************/
/* Partenaires */
/***************/

.liste_partenaires, .infos_partner
{
	list-style: none;
}

.liste_partenaires img
{
	height: 60px;
	margin-right: 15px;
}

.infos_partner
{
	margin-left: 50px;
}

.infos_partner li
{
	word-wrap: break-word;
}
.infos_partner a
{
	color: black;
}

.infos_partner a:hover
{
	color: #7d7a7a;
}

.liste_partenaires li i
{
	color: #352d25 !important;
}

.liste_partenaires li h3
{
	color: #352d25;
	font-size: 1.5em;
}


/************/
/* Contact  */
/************/

#page_contact
{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	
}

.modal-body #message, .modal-body #nom_contact, .modal-body #mail_contact, .modal-body #sujet
{
	width: 100%;
}

#infos_cp
{
	background-color: #5b4a3c;
	border-radius: 100%;
	color: white;
	text-align: center;
}

#infos_cp h3
{
	border-bottom: 1px solid #8c725d;
	text-transform: uppercase;
}

#infos_cp p 
{
	text-align: center;
}

#page_contact .modal-content
{
margin-bottom: 20px;
}

#infos_cp ul
{
	list-style: none;
	text-align: left;
}

#infos_cp a
{
	color: #c6c2c2;
}

#infos_cp a:hover
{
	color: white;
}

@media (min-width: 300px) {
	.modal-content
	{
		width: 99%;
	}

	#infos_cp
	{
		padding: 60px 40px;
	}

	#infos_cp h3
	{
		font-size: 1.2em;
	}

	#infos_cp p, #infos_cp li
	{
		font-size: 0.9em;
	}
}
@media (min-width: 750px) {
	.modal-content
	{
		width: 45%;
	}

	#infos_cp
	{
		padding: 70px 40px;
	}
}

@media (min-width: 980px) {
	#infos_cp
	{
		padding: 85px 40px;
	}

	#infos_cp h3
	{
		font-size: 1.5em;
	}
	#infos_cp p, #infos_cp li
	{
		font-size: 1em;
	}
}


/***********/
/* login  */
/***********/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/***********/
/* Footer  */
/***********/

footer
{
	background-color: #352d25;
	padding: 20px 0;
	color: #c6c2c2;
	text-align: center;
}

#liens_footer
{
	width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#liens_footer p
{
	width: 200px;
	font-size: 1em;
}

footer a
{
	color: #c6c2c2;
}

footer a:hover
{
	color: white;
}

footer a:hover i.fa-facebook-square
{
	color: #4267b2;
}

footer #copyright
{
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #5b4a3c;
	font-size: 0.8em;
	color: #8c725d;
	text-align: center;
}